body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    display: flex;
    margin-bottom: 120px;
}

#top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Gentium Book Plus', serif;
    font-size: 50px;
}

.colorful-name {
    color: orange;
}

.half-width {
    width: 50%;
    margin-top: 20px;
    padding-left: 70px;
}

.half-width img {
    width: 80%;
}

.hire-btn {
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 15px;
    color: white;
}

.dream-big {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}