* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

.name {
    color: blueviolet;
}

header {
    display: flex;
    width: 90%;
    align-items: center;
    padding: 2% 5%;
}

.header-text {
    width: 50%;
}

.header-image {
    width: 50%;
    float: right;
}

.header-image img {
    width: 80%;
}