body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    display: flex;
    margin-bottom: 100px;
}

#top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Gentium Book Plus', serif;
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

.colorful-text {
    color: orange;
}

.half-width {
    width: 50%;
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 1%;
}

.half-width img {
    width: 80%;
}

.hire-btn {
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
}

.dream-big {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    margin-bottom: 100px;
}

.experience h1 {
    text-align: center;
}

.experience-card {
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.designed-box {
    box-shadow: 10px 10px 20px gray;
    border-left: 8px solid rgb(0, 50, 212);
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    border-radius: 8px;
}

.orange-border {
    border-left: 8px solid orange;
}

.copyright {
    text-align: center;
    margin: 20px;
}